$background-color: #ebecf0;

.collection {
  min-width: 272px;
  width: 272px;
  padding: 4px 8px;
  background-color: $background-color;
  border-radius: 5px;
  max-height: calc(100vh - 95px);

  display: flex;
  flex-direction: column;
  justify-self: start;

  &__list {
    max-height: calc(100vh - 150px);
    background-color: $background-color;
    overflow-y: auto;

    position: relative;
    .task-item {
      margin-bottom: 10px;
      border-radius: 6px;
      padding: 5px;
      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }

  &__edit {
    margin-top: 20px;
    margin-bottom: 10px;
    input {
      width: 100%;
      padding: 10px 5px;
      font-size: 1rem;
      outline-color: rgb(13, 148, 148);
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
      :hover {
        .task-item__title {
          color: red !important;
        }
      }
    }
  }

  &__footer {
    max-height: 40px;
    height: 40px;
    &__btn {
      text-align: start;
      border-radius: 5px;
      padding: 5px 5px;
      width: 100%;
      margin: 10px 0;
      border: none;
      color: rgba($color: black, $alpha: 0.5);
      font-weight: 600;
      font-weight: 1rem;
      &__icon {
        padding-right: 10px;
      }
      &:hover {
        background-color: rgba($color: gray, $alpha: 0.1);
      }
    }
  }

  &__add-new {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    input {
      animation: forwards 0.8s;
      width: 100%;
      padding: 10px 5px;
      font-size: 1rem;
      outline-color: rgb(13, 148, 148);
      border: none;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    &__control {
      display: flex;
      justify-content: flex-start;

      &__submit {
        width: 82.5px;
        padding: 6px 12px;
        background-color: rgb(90, 172, 68);
        color: white;
        font-size: 0.9rem;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
      }

      &__cancel {
        border: none;
        background-color: $background-color;
        cursor: pointer;
        :hover {
          color: rgb(13, 148, 148);
        }
      }
    }
  }
}
